In [1]:
import pandas as pd
import numpy as np

In [2]:
age = pd.read_csv('Percentage_age_immigrant_population_year.csv')
age.rename(columns={'percentage_immigrants_per_gender': 'percentage'}, inplace=True)
age

    year    age  percentage
0   2017    0-4      4.0331
1   2017    5-9      2.8474
2   2017  10-14      2.8062
3   2017  15-19      4.6465
4   2017  20-24     13.1189
..   ...    ...         ...
58  2015  80-84      0.6570
59  2015  85-89      0.5521
60  2015  90-94      0.2661
61  2015  95-99      0.0637
62  2015  >=100      0.0125

[63 rows x 3 columns]

In [3]:
age_district = pd.read_csv('Percentage_age_immigrant_population_district_year.csv')
age_district.rename(columns={'immigrants_percentage': 'percentage'}, inplace=True)
age_district

     year        district_name    age  percentage
0    2017         Ciutat Vella  >=100      0.0000
1    2017         Ciutat Vella    0-4      2.5391
2    2017         Ciutat Vella  10-14      1.5641
3    2017         Ciutat Vella  15-19      3.9712
4    2017         Ciutat Vella  20-24     17.2557
..    ...                  ...    ...         ...
688  2015  Sarrià-Sant Gervasi  75-79      1.0234
689  2015  Sarrià-Sant Gervasi  80-84      0.8333
690  2015  Sarrià-Sant Gervasi  85-89      0.6871
691  2015  Sarrià-Sant Gervasi  90-94      0.3801
692  2015  Sarrià-Sant Gervasi  95-99      0.1170

[693 rows x 4 columns]

### The average immigrant in terms of age

Based on 2017 data - the most common ages are (rounded by 2 decimals):

In [4]:
age_distribution_2017 = age[(age['year'] == 2017)]
decimals = 2    
age_distribution_2017['percentage'] = age_distribution_2017['percentage'].apply(lambda x: round(x, decimals))
age_distribution_2017

C:\Users\miner\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    year    age  percentage
0   2017    0-4        4.03
1   2017    5-9        2.85
2   2017  10-14        2.81
3   2017  15-19        4.65
4   2017  20-24       13.12
5   2017  25-29       21.52
6   2017  30-34       15.92
7   2017  35-39       10.57
8   2017  40-44        7.14
9   2017  45-49        4.79
10  2017  50-54        3.67
11  2017  55-59        2.56
12  2017  60-64        2.04
13  2017  65-69        1.46
14  2017  70-74        0.97
15  2017  75-79        0.64
16  2017  80-84        0.58
17  2017  85-89        0.41
18  2017  90-94        0.22
19  2017  95-99        0.06
20  2017  >=100        0.00

### Check trend in immigration ages evolution from 2015 - 2017

Minor changes in terms of evolution. About 2% increase for ranges 20-24 and 25-29. Slightly decrease (1%) for range 35-39. Quite stable (also quite a short period for observing trends). We discard to pursue a year comparison by district.

In [5]:
age_distribution_years = age
decimals = 2    
age_distribution_years['percentage'] = age_distribution_years['percentage'].apply(lambda x: round(x, decimals))
age_distribution_years
age_years = age_distribution_years.pivot(index="age", columns="year", values="percentage")
age_years

year    2015   2016   2017
age
0-4     4.07   4.50   4.03
10-14   3.02   3.26   2.81
15-19   4.18   4.92   4.65
20-24  11.36  12.62  13.12
25-29  19.43  20.33  21.52
30-34  16.18  15.65  15.92
35-39  11.58  10.83  10.57
40-44   7.83   7.15   7.14
45-49   5.44   4.81   4.79
5-9     3.13   3.22   2.85
50-54   3.96   3.62   3.67
55-59   2.86   2.63   2.56
60-64   2.09   1.92   2.04
65-69   1.59   1.52   1.46
70-74   1.06   0.97   0.97
75-79   0.69   0.73   0.64
80-84   0.66   0.59   0.58
85-89   0.55   0.45   0.41
90-94   0.27   0.22   0.22
95-99   0.06   0.06   0.06
>=100   0.01   0.01   0.00

### Check age distribution per district

Age range distribution per district. Based on the latest available data. Objective: identify possible trends in age ranges depending on the different neighbourhoods.

In [6]:
age_district_2017 = age_district[(age_district['year'] == 2017) & (age_district['district_name'] != 'No consta')]
decimals = 2    
age_district_2017['percentage'] = age_district_2017['percentage'].apply(lambda x: round(x, decimals))
age_district_2017

C:\Users\miner\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     year        district_name    age  percentage
0    2017         Ciutat Vella  >=100        0.00
1    2017         Ciutat Vella    0-4        2.54
2    2017         Ciutat Vella  10-14        1.56
3    2017         Ciutat Vella  15-19        3.97
4    2017         Ciutat Vella  20-24       17.26
..    ...                  ...    ...         ...
226  2017  Sarrià-Sant Gervasi  75-79        1.09
227  2017  Sarrià-Sant Gervasi  80-84        0.92
228  2017  Sarrià-Sant Gervasi  85-89        0.68
229  2017  Sarrià-Sant Gervasi  90-94        0.40
230  2017  Sarrià-Sant Gervasi  95-99        0.09

[210 rows x 4 columns]

In [7]:
age_per_district_2017 = age_district_2017.pivot(index="age", columns="district_name", values="percentage")
age_per_district_2017

district_name,Ciutat Vella,Eixample,Gràcia,Horta-Guinardó,Les Corts,Nou Barris,Sant Andreu,Sant Martí,Sants-Montjuïc,Sarrià-Sant Gervasi
age,,,,,,,,,,
0-4,2.54,3.15,3.37,4.09,5.03,5.29,4.01,5.01,3.30,6.15
10-14,1.56,1.85,2.00,3.18,3.79,3.87,3.35,2.86,2.57,4.84
15-19,3.97,3.76,4.30,4.94,5.17,5.98,4.88,3.99,5.20,5.50
20-24,17.26,14.31,13.23,12.26,11.70,12.79,11.52,11.57,13.66,9.79
25-29,26.79,25.69,24.78,19.59,19.66,16.24,17.85,20.07,22.43,15.87
30-34,17.51,17.07,19.64,15.50,13.99,13.16,14.70,16.22,16.44,12.97
35-39,10.64,9.98,10.60,11.87,9.81,10.20,10.99,11.15,10.79,9.55
40-44,6.12,5.92,6.08,7.05,8.30,7.80,8.62,8.02,6.91,8.44
45-49,4.09,4.08,3.57,4.60,4.89,6.09,5.37,5.02,4.55,6.39
5-9,2.08,2.24,2.18,2.77,3.54,4.06,3.38,2.82,2.56,4.05
50-54,2.70,3.30,2.62,3.96,3.45,4.68,4.31,3.86,3.48,4.72
55-59,1.91,2.27,2.14,2.77,2.35,3.17,3.19,2.60,2.47,3.14
60-64,1.25,1.91,1.56,2.21,2.56,2.25,2.53,2.40,1.91,2.26
65-69,0.67,1.57,1.12,1.49,1.97,1.60,1.83,1.70,1.24,1.69
70-74,0.31,1.07,0.84,1.24,0.98,0.93,1.37,1.04,0.72,1.48
75-79,0.22,0.68,0.51,0.69,0.82,0.64,0.77,0.56,0.60,1.09
80-84,0.17,0.51,0.53,0.82,0.91,0.62,0.60,0.55,0.57,0.92
85-89,0.09,0.37,0.66,0.49,0.59,0.42,0.41,0.36,0.34,0.68
90-94,0.08,0.21,0.24,0.35,0.34,0.17,0.25,0.17,0.20,0.40
95-99,0.01,0.06,0.04,0.13,0.14,0.05,0.08,0.03,0.04,0.09
>=100,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.02,0.00